.contenedor{
    display: flex;
    justify-content: space-around;
    background-color: rgba(217, 173, 103, 0.674); 
    }

.online{
    background-color:rgb(200, 150 , 145);
    padding-left: 9px;
}